<script>
  import { ethereum } from "../store"

  const NETWORKS = {
    "0x3": "Ropsten",
    "0x7a69": "Hardhat"
  }

  const RPCS = {
    "0x7a69": "http://127.0.0.1:8545"
  }

  function onNetworkChange(event) {
    const chainId = event.target.value

    if (chainId in NETWORKS) {
      $ethereum.provider.request({
        method: "wallet_switchEthereumChain",
        params: [{ chainId }]
      })

      .then(() => {
        $ethereum.provider
          .request({ method: "eth_chainId" })
          .then(ethereum.onChainId)
      })

      .catch(err => {
        if (err.code === 4902 && chainId in RPCS) {
          $ethereum.provider.request({
            method: "wallet_addEthereumChain",
            params: [{
              chainId,
              chainName: NETWORKS[chainId],
              nativeCurrency: { name: "ETH", symbol: "ETH", decimals: 18 },
              rpcUrls: [RPCS[chainId]]
            }]
          })

          .then(() => {
            $ethereum.provider
              .request({ method: "eth_chainId" })
              .then(ethereum.onChainId)
          })
        }
      })
    }
  }
</script>

<select on:change={onNetworkChange}>
  {#each Object.keys(NETWORKS) as chainId}
    <option value={chainId}
      selected={$ethereum.chainId === chainId}
    >
      {NETWORKS[chainId]}
    </option>
  {/each}
  {#if !($ethereum.chainId in NETWORKS)}
    <option value={$ethereum.chainId} disabled selected>Unsupported</option>
  {/if}
</select>

<style>
  select {
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
  }
</style>
