<script>
  import { onMount } from "svelte"
  import { ethereum } from "../store"
  import SelectNetwork from "./SelectNetwork.svelte"

  onMount(() => {
    ethereum.listen()
  })
</script>

<p>
{#if $ethereum.connected}
  <code>
    {$ethereum.account.substr(0, 6)}…{$ethereum.account.substr(-4, 4)}
  </code>
  <SelectNetwork />
  <button class="button icon" on:click={ethereum.disconnect}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      fill="none" stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
      />
    </svg>
  </button>
{:else}
  <button class="button" on:click={ethereum.connect}>
    Connect to a wallet
  </button>
{/if}
</p>

<style>
  :global(.button) {
    display: inline-block;
    padding: 3px 1rem;
    cursor: pointer;
	  font-family: OverpassBold;
    text-align: center;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
  }
  :global(.button[disabled]) {
    cursor: default;
  }
  :global(.button:hover) {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
  }

  :global(.icon) {
    padding: .25em .5em;
  }
  :global(.icon svg) {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
  }
</style>
