<script>
  import Router, { link } from "svelte-spa-router"
  import { wrap } from "svelte-spa-router/wrap"
  import active from "svelte-spa-router/active"

  import WalletConnect from "./components/WalletConnect.svelte"
  import HomePage from "./pages/Home.svelte"
  import KifuPage from "./pages/Kifu.svelte"
  import NewPage from "./pages/New.svelte"
  import NotFoundPage from "./pages/NotFound.svelte"

  export let kifuContracts

  const routes = {
    "/": HomePage,
    "/kifu": wrap({
      component: KifuPage,
      props: {
        kifuContracts
      }
    }),
    "/new": wrap({
      component: NewPage,
      props: {
        uploadActionUrl: "http://localhost:8000",
        kifuContracts
      }
    }),
    "*": NotFoundPage
  }
</script>

<main>
  <header class="window">
    <h1>
      <a href="/" use:link>
        <img src="/image/decentralgo.png" alt="Decentral Go" />
      </a>
    </h1>
  </header>
  <section class="menu">
    <nav>
      <a href="/kifu" use:link use:active>Kifu</a>
      <a href="/new" use:link use:active>New</a>
    </nav>
    <aside>
      <WalletConnect />
    </aside>
  </section>
  <Router {routes} />
</main>

<style>
  @font-face {
	  font-family: Overpass;
	  src: url('../font/Overpass-Regular.woff2') format('woff2');
  }
  @font-face {
	  font-family: OverpassBold;
	  src: url('../font/Overpass-ExtraBold.woff2') format('woff2');
  }
  @font-face {
	  font-family: OverpassMono;
	  src: url('../font/OverpassMono-Regular.woff2') format('woff2');
  }

  :global(body) {
    margin: 0;
    line-height: 1.5;
    font-family: Overpass;
    background-color: #ebc993;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dd9948' fill-opacity='0.61'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  :global(pre, code) {
    font-family: OverpassMono;
  }
  :global(b, strong) {
    font-family: OverpassBold;
  }
  :global(p) {
    margin: .5em;
  }

  :global(.window) {
    margin: 2em auto;
    background-color: #ebc993;
    border: 6px double #dd9948;
    box-shadow: .75em .75em 3px 0 rgba(0, 0, 0, .5);
  }
  :global(.window h2, .window h3) {
    margin: .5em .5em 1em .5em;
    border-bottom: 3px dotted #000;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
  }

  main {
    padding: 0 1em;
    min-height: 100vh;
    max-width: 45em;
    margin: 0 auto;
  }

  header {
    text-align: center;
    line-height: 0;
  }
  header h1 {
    padding: 0 .5em;
  }
  header h1 img {
    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    justify-content: left;
  }
  nav a {
    display: inline-block;
    padding: 3px 1em 0 1em;
    margin: .5em;
    text-decoration: none;
    font-family: OverpassBold;
    color: #fff;
    background-color: #000;
    border: 1px outset rgb(127, 127, 127);
    box-shadow: .5em .5em 3px 0 rgba(0, 0, 0, .5);
    transition: all .2s ease-in;
  }
  nav a:nth-child(even) {
    color: #000;
    background-color: #fff;
  }
  nav a:hover, :global(nav a.active) {
    box-shadow: 0 0 0 #000 !important;
    transform: translate3d(.25em, .25em, 10em);
  }

  aside {
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: .75em .75em 3px 0 rgba(0, 0, 0, .5);
  }
</style>
