<script>
  import { useUpload } from "@zach.codes/use-upload/lib/svelte"
  import { ethereum } from "../store"
  import { Kifu } from "../contract"

  export let uploadActionUrl
  export let kifuContracts

  let filename
  let [upload, state] = useUpload(({ files }) => ({
    method: "POST",
    url: uploadActionUrl,
    body: files[0]
  }))
  let tx = {
    done: false,
    error: null
  }

  function onFileChange(event) {
    filename = event.target.value.split("\\").pop()
    state.set({ loading: false, done: false })
  }

  function onUploadSubmit(event) {
    const files = event.target.querySelector('[type="file"]').files

    if (files.length > 0) {
      upload({ files, formData: new FormData(event.target) })
    }
  }

  function onTryAgainClick(event) {
    filename = undefined
    state.set({ loading: false, done: false })
  }

  function onMintClick(event) {
    const data = Kifu.encodeFunctionData("inscribe", [
      {
        black: $state.data.black,
        white: $state.data.white,
        result: $state.data.result,
        uri: $state.data.uri,
        signature: $state.data.signature
      }
    ])

    const chainId = $ethereum.chainId
    const contractAddress = kifuContracts[chainId]

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_sendTransaction",
      params: [ transaction ]
    }).then(() => {
      tx = { done: true, error: null }
    }).catch(err => {
      tx = { done: true, error: err }
    })
  }
</script>

<fieldset>
  <legend>1st Upload</legend>
  <form action={uploadActionUrl} method="post" enctype="multipart/form-data"
    on:submit|preventDefault={onUploadSubmit}
  >
    <dl>
      <dt>
        <p>
          {#if filename}
            <i>{filename}</i>
          {:else}
            Chose an SGF file to upload
          {/if}
        </p>
      </dt>
      <dd>
        {#if $state.done && !$state.error && $state.data && !$state.data.error}
          <p class="icon check">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="none" stroke="currentColor"
            >
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </p>
        {:else if $state.loading && !$state.error}
          <p>{$state.progress}%</p>
        {:else}
          <label class="button">
            Select SGF file
            <input type="file" name="sgf"
              on:change|preventDefault={onFileChange}
            />
          </label>
        {/if}
      </dd>
    </dl>
    {#if $state.done}
      {#if $state.data && $state.data.error}
        <p class="error">{$state.data.error}</p>
        <button class="button" on:click={onTryAgainClick}>Try again</button>
      {:else if $state.error}
        <p class="error">
          An error ocurred when uploading SGF file.
        </p>
        <button class="button" on:click={onTryAgainClick}>Try again</button>
      {/if}
    {:else}
      {#if filename && !filename.endsWith('.sgf')}
        <p class="error">Game file is not SGF. Select another file.</p>
      {/if}
      <input type="submit" class="button" value="Upload"
        disabled={!filename || !filename.endsWith('.sgf')}
      />
    {/if}
  </form>
</fieldset>

<fieldset>
  <legend>2nd Mint</legend>
  <p>Create a new record into the Kifu registry.</p>
  {#if $state.done && $state.data && $state.data.uri}
    <dl>
      <dt>
        <p><b>Black</b></p>
      </dt>
      <dd>
        <p>{$state.data.black}</p>
      </dd>
      <dt>
        <p><b>White</b></p>
      </dt>
      <dd>
        <p>{$state.data.white}</p>
      </dd>
      <dt>
        <p><b>Result</b></p>
      </dt>
      <dd>
        <p>{$state.data.result}</p>
      </dd>
    </dl>
    {#if !$ethereum.connected || !$ethereum.account}
      <p class="error">Connect to a wallet to mint Kifu game record.</p>
    {:else if !$ethereum.chainId || !($ethereum.chainId in kifuContracts)}
      <p class="error">Selected network is not supported.</p>
    {/if}
    {#if tx.done}
      {#if tx.error}
        <p class="error">Transaction failed: {tx.error}</p>
      {/if}
    {:else}
      <button class="button" on:click={onMintClick}
        disabled={
          !$ethereum.connected ||
          !$ethereum.account ||
          !$ethereum.chainId ||
          !($ethereum.chainId in kifuContracts)
        }
      >
        Confirm Mint
      </button>
    {/if}
  {/if}
</fieldset>

<style>
  dl {
    background-color: #fff;
  }

  input[type="file"] {
    display: none;
  }

  .button[disabled] {
    color: grey;
    background-color: darkgrey;
    border-color: grey;
    font-style: italic;
  }

  :global(fieldset) {
    margin: 1em auto;
    background-color: silver;
    border: 6px double #fff;
    box-shadow: 0 0 0 3px silver, .75em .75em 3px 0 rgba(0, 0, 0, .5);
  }
  :global(fieldset legend) {
	  font-family: OverpassBold;
    padding: 3px 1rem 0 1rem;
    border: 1px outset rgb(56, 52, 52);
    background-color: #fff;
  }

  :global(dl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
  }
  :global(dt) {
    grid-column: 1 / 3;
  }
  :global(dd) {
    margin-left: 0;
    padding-right: .25em;
    text-align: right;
  }

  :global(.error) {
    color: darkred;
  }

  .check {
    padding: 0;
  }

  .check svg {
    color: green;
    width: 2.5em;
    height: 2.5em;
  }
</style>
